
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta />
    <title>Index</title>
    <link href="~/css/site.css" rel="stylesheet" />

    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
</head>
<body class="container">
    <h1 class="h1">Welcome to Home Page</h1>
    <button class="btn btn-danger"> Click me</button>
    <img src="~/images/logo.jpg" alt="logo" class="logo"/>
</body>
</html>

<script>
    $(document).ready(function () {
        alert("Page Loaded");
    });
</script>


